.modalvideo{
    position: fixed;
    background-color:rgba(58, 57, 57, 0.5);
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.modalvideo iframe{
    width: 80%;
    height: 100%;
    border: none;
}